* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.containerN {
    background-color: rgb(241, 241, 241);
}

#nav-est {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    padding-top: 0px;
}