@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #E8E8E8;
	font-family: 'Open Sans', sans-serif;
}

.containerProgramas {
	display: flex;
	flex-direction: column;
	margin: 20px 45px;
}

#box {
	width: 10px;
	height: 10px;
	margin-right: 3px;
}

.formulario-programa {
	background: rgba(255, 255, 255, 0.70);
	border-radius: 2px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	width: 50%;
	margin-top: 50px;
}

.formulario-programa>div {
	margin-bottom: 5%;
}

.formulario-programa label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 1.3%;
	color: rgba(0, 0, 0, 0.60);
}

.formulario-programa input,
.formulario-programa textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 13px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario-programa input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario-programa .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario-programa button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	transition: .3s ease all;
	height: 40px;
}

.formulario-programa button[type="submit"]:hover {
	background: #0051ff;
}

.formulario-programa .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario-programa input[type="radio"] {
	width: auto;
}

@media screen and (max-width: 500px) {
	.contenedor-texto-programa {
		top: 5%;
		left: 5%;
		right: 5%;
		width: 90%;
		font-size: 12px;
	}

	.formulario-programa {
		top: 40%;
		left: 5%;
		right: 5%;
		width: 90%;
	}

	.formulario-programa label {
		font-size: 12px;
	}

	.formulario-programa input,
	.formulario-programa textarea {
		height: 30px;
		font-size: 12px;
	}

	.formulario-programa button[type="submit"] {
		font-size: 12px;
		height: 30px;
	}

	.titulo-login {
		font-size: 14px;
	}
}